@import "variables";

.transactions-list {
  //display: table;

  &--row {
    //display: table-row;
  }
  &--row:nth-child(odd) {
    background-color: $light-blue;
  }
  &--column {
    //display: table-cell;
    padding-right: 10px;
  }
}

.transaction {

  &--debit {
    color: $negative-red;
  }

  &--credit {
    color: $positive-green;
  }
}


