@import "variables";

table {
  //display: table;

  tr {
    //display: table-row;
  }
  tr:nth-child(even) {
    background-color: $light-blue;
  }
  td {
    //display: table-cell;
    padding-right: 10px;
  }
}

.transaction {
  &--debit {
    color: $negative-red;
  }

  &--credit {
    color: $positive-green;
  }
}


